<footer class="footer">
  <div class="footer-inner">
    {{#link "help_center"}}{{help_center.name}}{{/link}}

    <div class="social-bar">
      <a
        href="https://twitter.com/mindfico"
        target="_blank"
        aria-label="Twitter"
        class="social-link"
      ><svg
          class="social-icon"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        ><path
            d="M24 12C24 18.6273 18.6273 24 12 24C5.37267 24 0 18.6273 0 12C0 5.37267 5.37267 0 12 0C18.6273 0 24 5.37267 24 12ZM18.6337 8.1263C18.1741 8.33018 17.6806 8.46772 17.162 8.53002C17.6911 8.21287 18.0981 7.71045 18.289 7.11176C17.7939 7.40545 17.2453 7.61903 16.662 7.73392C16.1944 7.23555 15.5286 6.92488 14.7915 6.92488C13.3757 6.92488 12.2285 8.07209 12.2285 9.48711C12.2285 9.68776 12.2511 9.88354 12.2948 10.0712C10.1654 9.96445 8.27711 8.94425 7.01339 7.39412C6.79333 7.77194 6.66631 8.21207 6.66631 8.68212C6.66631 9.57126 7.11856 10.3552 7.80625 10.8147C7.38636 10.8018 6.99154 10.6861 6.64608 10.4944C6.64527 10.5049 6.64527 10.5154 6.64527 10.5267C6.64527 11.7678 7.52875 12.8042 8.70105 13.0388C8.48585 13.0979 8.25931 13.1294 8.02631 13.1294C7.86046 13.1294 7.70026 13.1132 7.54412 13.0833C7.87016 14.1011 8.81594 14.8422 9.93727 14.8624C9.06027 15.5501 7.95592 15.9595 6.7553 15.9595C6.54819 15.9595 6.34431 15.9473 6.14367 15.9239C7.27794 16.6504 8.625 17.0751 10.0724 17.0751C14.7851 17.0751 17.3627 13.1707 17.3627 9.78403C17.3627 9.6732 17.3602 9.56235 17.3554 9.45233C17.8562 9.09149 18.2906 8.64004 18.6337 8.1263Z"
            fill="#83838F"
          ></path></svg></a>
      <a
        href="https://www.facebook.com/mindfico"
        target="_blank"
        aria-label="Facebook"
        class="social-link"
      ><svg
          class="social-icon"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        ><path
            d="M24 12C24 18.6273 18.6273 24 12 24C5.37267 24 0 18.6273 0 12C0 5.37267 5.37267 0 12 0C18.6273 0 24 5.37267 24 12ZM10.5456 19H13.04V12.8048H15.12L15.4304 10.3904H13.0384V8.848C13.0384 8.152 13.232 7.672 14.2352 7.672H15.5152V5.5104C14.896 5.44504 14.2738 5.41353 13.6512 5.416C11.808 5.416 10.5456 6.5408 10.5456 8.608V10.3888H8.4656V12.8048H10.5456V19Z"
            fill="#83838F"
          ></path></svg></a>
      <a
        href="https://www.youtube.com/channel/UCUFydDw_Eewj8JuSQwpFsqw/"
        target="_blank"
        aria-label="YouTube"
        class="social-link"
      ><svg
          class="social-icon"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        ><path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M24 12C24 18.6274 18.6274 24 12 24C5.37258 24 0 18.6274 0 12C0 5.37258 5.37258 0 12 0C18.6274 0 24 5.37258 24 12ZM18.9873 8.1748C19.0498 8.2373 19.0498 8.2998 19.0498 8.3623C19.1748 8.9873 19.2998 10.2998 19.2998 11.7998C19.2998 13.0251 19.1747 14.1253 19.0948 14.8278C19.0769 14.9853 19.0612 15.1228 19.0498 15.2373C18.9873 15.2998 18.9873 15.3623 18.9873 15.4248V15.4873C18.7998 16.0498 18.2998 16.4248 17.6748 16.4248H17.7998C17.7998 16.4248 15.2998 16.7998 12.0498 16.7998C8.7373 16.7998 6.2998 16.4248 6.2998 16.4248H6.4248C5.7998 16.4248 5.2998 16.0498 5.1123 15.4873V15.4248C5.0498 15.3623 5.0498 15.2998 5.0498 15.2373C5.03835 15.1228 5.02272 14.9853 5.0048 14.8278C4.92491 14.1253 4.7998 13.0251 4.7998 11.7998C4.7998 10.5745 4.92491 9.47434 5.0048 8.7718C5.02272 8.61429 5.03835 8.47677 5.0498 8.3623C5.1123 8.2998 5.1123 8.2373 5.1123 8.1748V8.1123C5.2998 7.5498 5.7998 7.1748 6.4248 7.1748H6.2998C6.2998 7.1748 8.7998 6.7998 12.0498 6.7998C15.3623 6.7998 17.7998 7.1748 17.7998 7.1748H17.6748C18.2998 7.1748 18.7998 7.5498 18.9873 8.1123V8.1748ZM11.2145 14.6043L14.4153 12.2888C14.5515 12.2207 14.6196 12.0845 14.5515 11.9483C14.5515 11.8121 14.4834 11.6759 14.4153 11.6078L11.2145 9.29224C11.0783 9.22414 10.9421 9.22414 10.8059 9.29224C10.6696 9.36034 10.6015 9.49655 10.6015 9.63276V14.2638C10.6015 14.4 10.6696 14.5362 10.8059 14.6043C10.874 14.6724 10.9421 14.6724 11.0102 14.6724C11.0783 14.6724 11.1464 14.6724 11.2145 14.6043Z"
            fill="#83838F"
          ></path></svg></a>
      <a
        href="https://sg.linkedin.com/company/mindfi.co"
        target="_blank"
        aria-label="LinkedIn"
        class="social-link"
      ><svg
          class="social-icon"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        ><path
            d="M7.3 0.9C8.8 0.3 10.4 0 12 0C13.6 0 15.2 0.3 16.7 0.9C18.2 1.5 19.5 2.4 20.5 3.5C21.5 4.6 22.4 5.8 23.1 7.3C23.8 8.8 24 10.3 24 12C24 13.7 23.7 15.2 23.1 16.7C22.5 18.2 21.6 19.5 20.5 20.5C19.4 21.5 18.2 22.4 16.7 23.1C15.2 23.8 13.6 24 12 24C10.4 24 8.8 23.7 7.3 23.1C5.8 22.5 4.5 21.6 3.5 20.5C2.5 19.4 1.6 18.2 0.9 16.7C0.2 15.2 0 13.6 0 12C0 10.4 0.3 8.8 0.9 7.3C1.5 5.8 2.4 4.5 3.5 3.5C4.6 2.5 5.8 1.6 7.3 0.9ZM7.85709 8.53058C8.35913 8.53058 8.7775 8.36323 9.1122 8.1122C9.4469 7.86118 9.53058 7.44281 9.53058 7.02443C9.53058 6.60606 9.36323 6.27136 9.02853 6.02034C8.69383 5.76932 8.35913 5.60197 7.85709 5.60197C7.35504 5.60197 6.93667 5.76932 6.68564 6.02034C6.43462 6.27136 6.18359 6.60606 6.18359 7.02443C6.18359 7.44281 6.35094 7.77751 6.60197 8.1122C6.85299 8.4469 7.35504 8.53058 7.85709 8.53058ZM9.1122 16.898V9.7857H6.60197V16.898H9.1122ZM18.3164 16.898V13.1327C18.3164 11.9612 18.0654 11.0408 17.5633 10.3714C17.0613 9.70202 16.3082 9.36732 15.3878 9.36732C14.8857 9.36732 14.4674 9.53467 14.1327 9.7857C13.798 10.0367 13.4633 10.4551 13.3796 10.8735L13.2959 9.7857H10.7857L10.8694 11.4592V16.898H13.3796V13.1327C13.3796 12.6306 13.4633 12.2123 13.7143 11.8776C13.9653 11.5429 14.2164 11.4592 14.6347 11.4592C15.0531 11.4592 15.3878 11.6265 15.5551 11.8776C15.7225 12.1286 15.8898 12.547 15.8898 13.1327V16.898H18.3164Z"
            fill="#83838F"
          ></path></svg></a>
      <a
        href="https://instagram.com/mindfi.co"
        target="_blank"
        aria-label="Instagram"
        class="social-link"
      ><svg
          class="social-icon"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        ><path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M12 24C18.6274 24 24 18.6274 24 12C24 5.37258 18.6274 0 12 0C5.37258 0 0 5.37258 0 12C0 18.6274 5.37258 24 12 24ZM9.32041 5.53927C10.0138 5.50772 10.2353 5.5 12.0006 5.5H11.9986C13.7644 5.5 13.9852 5.50772 14.6785 5.53927C15.3705 5.57096 15.8431 5.68052 16.2575 5.84126C16.6854 6.00716 17.047 6.22925 17.4085 6.59083C17.7701 6.95213 17.9922 7.31479 18.1587 7.74232C18.3185 8.15563 18.4282 8.62798 18.4607 9.31999C18.4919 10.0134 18.5 10.2349 18.5 12.0003C18.5 13.7656 18.4919 13.9866 18.4607 14.68C18.4282 15.3717 18.3185 15.8442 18.1587 16.2577C17.9922 16.6851 17.7701 17.0477 17.4085 17.409C17.0474 17.7706 16.6853 17.9932 16.2579 18.1593C15.8443 18.32 15.3714 18.4296 14.6795 18.4613C13.9861 18.4928 13.7652 18.5005 11.9998 18.5005C10.2346 18.5005 10.0132 18.4928 9.31987 18.4613C8.62802 18.4296 8.15555 18.32 7.74198 18.1593C7.31474 17.9932 6.95209 17.7706 6.59093 17.409C6.2295 17.0477 6.00741 16.6851 5.84125 16.2575C5.68065 15.8442 5.57109 15.3719 5.53927 14.6799C5.50785 13.9865 5.5 13.7656 5.5 12.0003C5.5 10.2349 5.50812 10.0132 5.53914 9.31985C5.57028 8.62812 5.67997 8.15563 5.84112 7.74219C6.00768 7.31479 6.22977 6.95213 6.59133 6.59083C6.95263 6.22938 7.31528 6.00729 7.74279 5.84126C8.15609 5.68052 8.62843 5.57096 9.32041 5.53927ZM11.784 6.67134C11.6525 6.67128 11.5307 6.67122 11.4175 6.6714V6.66978C10.206 6.67113 9.97367 6.67926 9.37404 6.70634C8.74028 6.73546 8.39619 6.84109 8.16706 6.93046C7.86372 7.04855 7.64705 7.18939 7.41955 7.4169C7.19205 7.64441 7.05094 7.86109 6.93313 8.16443C6.84416 8.39357 6.73826 8.73754 6.70928 9.37131C6.67814 10.0566 6.67191 10.2613 6.67191 11.9971C6.67191 13.733 6.67814 13.9388 6.70928 14.6241C6.73813 15.2578 6.84416 15.6018 6.93313 15.8307C7.05121 16.1342 7.19205 16.3503 7.41955 16.5778C7.64705 16.8053 7.86372 16.9462 8.16706 17.064C8.39632 17.1529 8.74028 17.2588 9.37404 17.2881C10.0593 17.3192 10.265 17.326 12.0006 17.326C13.7361 17.326 13.942 17.3192 14.6272 17.2881C15.2609 17.2591 15.6052 17.1535 15.834 17.0641C16.1375 16.9463 16.3535 16.8055 16.581 16.5779C16.8085 16.3506 16.9496 16.1346 17.0674 15.8312C17.1564 15.6024 17.2623 15.2584 17.2913 14.6246C17.3224 13.9394 17.3292 13.7335 17.3292 11.9988C17.3292 10.264 17.3224 10.0582 17.2913 9.37294C17.2624 8.73916 17.1564 8.39519 17.0674 8.16633C16.9493 7.86298 16.8085 7.64631 16.581 7.4188C16.3536 7.19129 16.1374 7.05045 15.834 6.93263C15.6049 6.84366 15.2609 6.73776 14.6272 6.70878C13.9418 6.67763 13.7361 6.6714 12.0006 6.6714C11.9256 6.6714 11.8534 6.67137 11.784 6.67134ZM14.6903 8.53048C14.6903 8.0997 15.0397 7.75072 15.4703 7.75072V7.75045C15.9009 7.75045 16.2503 8.09983 16.2503 8.53048C16.2503 8.96112 15.9009 9.31051 15.4703 9.31051C15.0397 9.31051 14.6903 8.96112 14.6903 8.53048ZM8.66255 12.0003C8.66255 10.1568 10.1571 8.66218 12.0005 8.66211C13.8439 8.66211 15.3381 10.1568 15.3381 12.0003C15.3381 13.8438 13.8441 15.3377 12.0006 15.3377C10.1572 15.3377 8.66255 13.8438 8.66255 12.0003ZM14.1673 12.0003C14.1673 10.8035 13.1972 9.83351 12.0006 9.83351C10.8039 9.83351 9.83392 10.8035 9.83392 12.0003C9.83392 13.1969 10.8039 14.167 12.0006 14.167C13.1972 14.167 14.1673 13.1969 14.1673 12.0003Z"
            fill="#83838F"
          ></path></svg></a>
      <a
        href="https://medium.com/@mindfi"
        target="_blank"
        aria-label="Medium"
        class="social-link"
      ><svg
          class="social-icon"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        ><path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M12 24C18.6274 24 24 18.6274 24 12C24 5.37258 18.6274 0 12 0C5.37258 0 0 5.37258 0 12C0 18.6274 5.37258 24 12 24ZM8.35866 17.7907C11.318 17.7907 13.7171 15.3752 13.7171 12.3954C13.7171 9.41571 11.3182 7 8.35866 7C5.39915 7 3 9.41571 3 12.3954C3 15.3752 5.39933 17.7907 8.35866 17.7907ZM19.5956 12.3954C19.5956 15.2002 18.396 17.4748 16.9162 17.4748C15.4365 17.4748 14.2369 15.2002 14.2369 12.3954C14.2369 9.59066 15.4363 7.31605 16.9161 7.31605C18.3958 7.31605 19.5954 9.58994 19.5954 12.3954H19.5956ZM21.0577 16.9458C21.5782 16.9458 22 14.9078 22 12.3954C22 9.88232 21.578 7.84511 21.0577 7.84511C20.5374 7.84511 20.1155 9.88251 20.1155 12.3954C20.1155 14.9084 20.5372 16.9458 21.0577 16.9458Z"
            fill="#83838F"
          ></path></svg></a>
    </div>
    <div>
      © Copyright 2023. All Rights Reserved.
    </div>

    {{#if alternative_locales}}
      <div class="footer-language-selector">

        <div class="dropdown language-selector">
          <button class="dropdown-toggle" aria-haspopup="true">
            {{current_locale.name}}
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="12"
              height="12"
              focusable="false"
              viewBox="0 0 12 12"
              class="dropdown-chevron-icon"
            >
              <path
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5"
              />
            </svg>
          </button>
          <span class="dropdown-menu dropdown-menu-end" role="menu">
            {{#each alternative_locales}}
              <a
                href="{{url}}"
                dir="{{direction}}"
                rel="nofollow"
                role="menuitem"
              >
                {{name}}
              </a>
            {{/each}}
          </span>
        </div>
      </div>
    {{/if}}
  </div>
</footer>